.hud-title {
    -fx-font-size: 24px;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-label-padding: 20px 0 0 0;
}

.hud-text {
    -fx-font-size: 16px;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.button {
    -fx-background-color: #333;
    -fx-text-fill: white;
}
